apiVersion: argoproj.io/v1alpha1
kind: Workflow
metadata:
  generateName: squares-
  nodeSelector:
    karpenter.sh/capacity-type: "spot"  # Use spot instances
  namespace: argo-workflows
spec:
  entrypoint: squares-sequence
  serviceAccountName: argo-workflows-executor
  templates:
    - name: squares-sequence
      parallelism: 2
      steps:
        - - name: run-square
            template: run-square
            arguments:
              parameters:
                - name: number
                  value: "{{item}}"
            withItems: [1, 3, 5, 7]  # Numbers to calculate squares for

    - name: run-square
      inputs:
        parameters:
          - name: number
      container:
        image: alexgleith/squares:latest  # The Docker image to use
        resources:  # Resource requests and limits for the container
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
        command: ["/app/square.py"]
        args: ["{{inputs.parameters.number}}"]  # Pass the number as an argument
